@import 'colors';

.showcase {
	height: 400px;
	background-color: $primary-color;
	color: $light;
	position: relative;

	.grid {
		overflow: visible;
		grid-template-columns: 55% 45%;
		gap: 30px;
	}

	&__container {
		max-width: 1100px;
		margin: 0 auto;
		overflow: auto;
		padding: 0 40px;
	}

	&__text {
		h1 {
			font-size: 40px;
		}
		p {
			margin: 20px 0;
		}
	}

	&__form {
		position: relative;
		top: 60px;
		height: 350px;
		width: 400px;
		padding: 40px;
		z-index: 100;

		&--control {
			margin: 30px 0;

			[type='text'],
			[type='email'] {
				border: 0;
				border-bottom: 1px solid #b4becb;
				width: 100%;
				padding: 3px;
				font-size: 16px;
			}

			[type='text']:focus,
			[type='email']:focus {
				outline: none;
			}
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 100px;
		bottom: -70px;
		right: 0;
		left: 0;
		background: $light;
		transform: skewY(-2deg);
	}
}
